<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="mx-auto p-4">
      <div class="jumbotron" style="text-align: center;">
       <h1 class="display-6">Paste your long url here</h1>
      <form action="api/url/shorten" method="POST" class="my-4 form-inline">
        <label for="longUrl" class="sr-only">URL</label>
        <input
          required=""
          placeholder="https://google.com/..."
          type="url"
          name="longUrl"
          id="longUrl"
          class="form-control col mr-2 shadow"
        />
        <button type="submit" class="btn btn-primary shadow ">create url</button>
      </form>
      </div>
      <div>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>&#x2116</th>
              <th>Long URL</th>
              <th>Short URl</th>
              <th>Clicks</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% let indexId= 1; urls.forEach( (url) => { %>
            <tr>
              <th scope="row"><%=indexId %></th>
              <td>
                <a href="<%= url.longUrl %>"> <%= url.longUrl %> </a>
              </td>
              <td>
                <a href="<%= url.shortUrl %>"> <%= url.shortUrl %> </a>
              </td>
              <td><%= url.clicks %></td>
                <td>
                   <a href="api/url/delete/<%= url.urlCode %>" onclick="return confirm('Are you sure you want to delete this url')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
            </td>
                </td>
            </tr>
            <% indexId +=1; }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
